doctype html
head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  base(href='/')
  title
    | Site
  meta(name='description', content='')

  meta(name='viewport', content='width=device-width')
  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css(client) app/vendor.css
  // bower:css
  link(rel='stylesheet', href='../bower_components/animate.css/animate.css', type='stylesheet/css')
  // endbower
  // endbuild
  // build:css({.tmp,client}) styles/app.css
  link(rel='stylesheet', href='styles/app.css', type='stylesheet/css')
  // endbuild

body
  //if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
  // Add your site or application content here
  div
    h1 Hello Baby
    h2.welcome-message
    a(href="index.html") Index
  // build:js({client,node_modules}) app/vendor.js
  // bower:js
  script(src='../bower_components/jquery/dist/jquery.js')
  // endbower
  // endbuild
  // build:js({.tmp,client}) app/app.js
  script(src='app/app.js')
  // endbuild
