.chat
  input.chat-name(type='text',placeholder="Enter your name")
  .chat-messages

  textarea.chat-textarea(placeholder="Type your message")
  .chat-status
    | Status:&nbsp;
    span
      |  Idle
