h1 Hello Baby, How are you today ?
  span.fa.fa-smile-o
h2.welcome-message
ul.main-page-list
  li.col-md-6
    a.main-page-links(href="maze.html") MAZE tuto
  li.col-md-6
    a.main-page-links(href="#") Link 1
  li.col-md-6
    a.main-page-links(href="#") Link 1
  li.col-md-6
    a.main-page-links(href="#") Link 1
  li.col-md-6
    a.main-page-links(href="#") Link 1
