.main
  h1 Hello Baby, How are you today ?
    span.fa.fa-smile-o
  h2.welcome-message
  ul
    li
      a(href="#") Link 1
    li
      a(href="#") Link 1
    li
      a(href="#") Link 1
    li
      a(href="#") Link 1
    li
      a(href="#") Link 1
