header
  nav.navbar.navbar-default.navbar-fixed-top
    .navbar-header
      button(type="button",data-toggle="collapse",data-target="#links-of-navbar").navbar-toggle.collapsed
        span.icon-bar
        span.icon-bar
        span.icon-bar
    navbar.collapse.navbar-collapse(id="links-of-navbar")
      ul.nav.navbar-nav
        li.active
          a.home(href='/')
            | Home
        li
          a(href="/")
            | 2nd Link
        li
          a(href="/")
            | 3nd Link
        li
          a(href="/")
            | 4nd Link
