head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  base(href='/')
  title
    | Welcome to the best experience online.
  meta(name='description', content='')

  meta(name='viewport', content='width=device-width')
  // Place favicon.ico and apple-touch-icon.png in the root directory
  // build:css(client) app/vendor.css
  // bower:css
  link(rel='stylesheet', href='/bower_components/animate.css/animate.css', type='stylesheet/css')
  // endbower
  // endbuild
  // build:css({.tmp,client}) app/app.css
  link(rel='stylesheet', href='css/app.css', type='stylesheet/css')
  // endbuild
