// build:js({client,node_modules}) app/vendor.js
// bower:js
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
// endbower
// endbuild
// build:js({.tmp,client}) app/app.js
script(src='scripts/app.js')
// endbuild
