// build:js({client,node_modules}) app/vendor.js
// bower:js

script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
script(src='scripts/app.js')
script(src="http://127.0.0.1:8080/socket.io/socket.io.js")
script(src="scripts/chat/chat.js")
// endbower
// endbuild
// build:js({dist,client}) app/app.js

// endbuild
