.main{

}

.main-page-list{
  list-style: none;
  .main-page-links{
    transition:0.3s all ease;
    padding:30px 15px;
    display:block;
    border:1px solid $mediumBorder;
    background-color: $linksBackgound;
    margin:10px 0;
    font-size: 20px;
    &:hover{
      background-color: $linksBackgoundHover;
    }
  }
}

