extends layout

block content
  h1=title
  ul.errors
    if errors
      each error,i in errors
        li.alert.alert-danger #{error.msg}
  form(id="addcategories", method="post", action="/categories/add",enctype="multipart/form-data")
    .form-group
      label Title:
      input.form-control(type="text", placeholder="Title",name="title")
    input(type="submit",name="submit",value="Save")
