doctype html
html
  head
    title Node Blog
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      img.logo(src="/images/superman.jpg")
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="/posts/add") Add Post
          li
            a(href="/categories/add") Add Category
      != messages()

      block content
      footer
        p NodeBlog &copy
