doctype html
html
  include ./includes/head.jade
body
  //if lt IE 7
    p.browsehappy
    | You are using an
    strong outdated
    |  browser. Please
    a(href='http://browsehappy.com/') upgrade your browser
    |  to improve your experience.
  // Add your site or application content here
  include ./includes/header.jade
  .main
    block content
      include ./includes/content.jade
  block scripts
    include ./includes/scripts.jade
  include ./includes/footer.jade

