extends index.jade

block content
  h1 This is the maze page.
    span.fa.fa-times
  h2 Would you help the robot find his way out ?
  .maze-container
block append scripts
  script(src='scripts/maze/robot.js')
  script(src='scripts/maze/maze.js')
  script(src='scripts/maze/mazespace.js')
  script(src='scripts/maze/robotmazeinterface.js')
  script(src='scripts/maze/mazeApp.js')


