h1 Hello Everyone, How are you today ?
  span.fa.fa-smile-o
h2.welcome-message
ul.main-page-list
  li.col-md-6
    a.main-page-links(href="maze.html") MAZE tuto
  li.col-md-6
    a.main-page-links(href="xmen-game.html") Xmen Game
  li.col-md-6
    a.main-page-links(href="game.html") Game
  li.col-md-6
    a.main-page-links(href="html5-game.html") html 5 game
  li.col-md-6
    a.main-page-links(href="#") Link 1
