extends layout

block content
  h1 Log In
  p Please Login
  form(id="login", method="post", action="/users/login")
    .form-group
      label Username
      input.form-control(name='username',type="text",placeholder="Username")
    .form-group
      label Password
      input.form-control(name='password',type="password",placeholder="Password")

    input.btn.btn-default(name='submit',type='submit',value='login')
