$siteBackground: #abc;
$mainText: #222;

$lightBorder:rgba(255,255,255,0.2);
$mediumBorder:#ccc;
$darkBorder:#444;


$links:#444;
$linksBackgound:#efefef;
$linksBackgoundHover:#fefefe;

$mazeMain: #123;
