extends index.jade

block content
  h1 This is the Game page.
  .maze-container




block append scripts
    script(src='scripts/game/field.js')
    script(src='scripts/game/tile.js')
    script(src='scripts/game/characters.js')
    script(src='scripts/game/gameInterface.js')
    script(src='scripts/game/gameApp.js')
